<div class="main-content">
  <div class="container-fluid">
    <!-- <div class="button-add">
      
    </div> -->
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger title" >
                    <div >
                      <h4 class="card-title">Status de tarefas</h4>
                      <p class="card-category">Esta é sua lista de status</p>
                    </div>
                    <div>
                      <button [routerLink]="['/tarefa-status-create']" mat-flat-button color="secondary">Adicionar status</button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Descrição
                                </th>
                                <th>
                                    Ações
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let sta of status">
                                    <td>
                                        {{ sta.id }}
                                    </td>
                                    <td>
                                        {{ sta.descricao }}
                                    </td>
                                    <td>
                                      <a href="javascript:void(0)">
                                        <i class="material-icons" [routerLink]="['/tarefa-status-update/', sta.id]" style="color: slateblue;">mode_edit</i>
                                      </a>
                                      <a href="javascript:void(0)" (click)="deleteStatus(sta)">
                                        <i class="material-icons"  style="color: red;">delete_outline</i>
                                      </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>     
                          </div>
                          <div class="clearfix"></div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/code.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">Ciência da Computação</h6>
                      <h4 class="card-title">Acadêmicos:</h4>
                      <p class="card-description">
                        André Farias
                      </p>
                      <p class="card-description">
                          Kassi Pegoraro
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
