<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Novo Projeto</h4>
            <!-- <p class="card-category">Complete your profile</p> -->
          </div>
          <div class="card-body">
            <form (submit)="editProjetoUsuario()">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Projeto</mat-label>
                    <mat-select
                      name="projeto"
                      #proj="ngModel"
                      [(ngModel)]="projeto_usuario.id_projeto"
                    >
                      <mat-option
                        *ngFor="let com of projetos"
                        [value]="com.id"
                      >
                        {{ com.titulo }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Usuário</mat-label>
                    <mat-select
                      name="usuario"
                      #us="ngModel"
                      [(ngModel)]="projeto_usuario.id_usuario"
                    >
                      <mat-option
                        *ngFor="let us of usuarios"
                        [value]="us.id_usuario"
                      >
                        {{ us.nome }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
            
              </div>
              <button
                mat-raised-button
                type="button"
                [routerLink]="['/projeto-usuario-show']"
                class="btn btn-secondary pull-right"
              >
                Voltar
              </button>
              <button
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
              >
                Salvar
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="./assets/img/code.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Ciência da Computação</h6>
            <h4 class="card-title">Acadêmicos:</h4>
            <p class="card-description">
              André Farias
            </p>
            <p class="card-description">
                Kassi Pegoraro
            </p>
            <a href="javascript:void(0)" class="btn btn-danger btn-round">
              Follow
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
