<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Nova tarefa</h4>
            <!-- <p class="card-category">Complete your profile</p> -->
          </div>
          <div class="card-body">
            <form (submit)="postTarefa()">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field>
                    <input
                      name="titulo"
                      required
                      [(ngModel)]="tarefa.titulo"
                      matInput
                      placeholder="Título"
                      type="text"
                      #titulo="ngModel"
                    />
                    <mat-error
                      *ngIf="titulo.invalid && (titulo.touched || titulo.dirty)"
                    >
                      <div *ngIf="titulo.errors.required">
                        Campo "Título" é requerido.
                      </div>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field>
                    <input
                      name="descricao"
                      [(ngModel)]="tarefa.descricao"
                      matInput
                      placeholder="Descrição"
                      type="text"
                      #descricao="ngModel"
                    />
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Projeto</mat-label>
                    <mat-select
                      name="projeto"
                      required
                      #proj="ngModel"
                      [(ngModel)]="tarefa.id_projeto"
                    >
                      <mat-option
                        *ngFor="let projeto of projetos"
                        [value]="projeto.id"
                      >
                        {{ projeto.titulo }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="proj.invalid && (proj.touched || proj.dirty)"
                    >
                      <div *ngIf="proj.errors.required">
                        Campo "Projeto" é requerido.
                      </div>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Desenvolvedor</mat-label>
                    <mat-select
                      name="projeto"
                      #proj="ngModel"
                      [(ngModel)]="tarefa.id_dev"
                    >
                      <mat-option
                        *ngFor="let user of usuarios"
                        [value]="user.id_usuario"
                      >
                        {{ user.nome }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field>
                    <input
                      name="tempo_estimado"
                      [(ngModel)]="tarefa.tempo_estimado"
                      matInput
                      placeholder="Tempo estimado (horas)"
                      type="number"
                      #tempo_estimado="ngModel"
                    />
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field appearance="fill">
                    <input
                      matInput
                      name="data_inicio"
                      [(ngModel)]="tarefa.data_inicio"
                      [matDatepicker]="picker"
                      placeholder="Data Início"
                      #data_inicio="ngModel"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="fill">
                    <input
                      matInput
                      name="data_fim"
                      [(ngModel)]="tarefa.data_fim"
                      [matDatepicker]="picker2"
                      placeholder="Data Fim"
                      #data_fim="ngModel"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker2"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Tarefa Pai</mat-label>
                    <mat-select
                      name="id_pai_tarefa"
                      #id_pai_tarefa="ngModel"
                      [(ngModel)]="tarefa.id_pai_tarefa"
                    >
                      <mat-option
                        *ngFor="let tarefa of tarefas"
                        [value]="tarefa.id"
                      >
                        {{ tarefa.titulo }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Tipo de tarefa</mat-label>
                    <mat-select
                      name="id_tipo_tarefa"
                      #id_pai_tarefa="ngModel"
                      [(ngModel)]="tarefa.id_tipo_tarefa"
                    >
                      <mat-option *ngFor="let tipo of tipos" [value]="tipo.id">
                        {{ tipo.descricao }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Status da tarefa</mat-label>
                    <mat-select
                      name="id_status_tarefa"
                      #id_pai_tarefa="ngModel"
                      [(ngModel)]="tarefa.id_status_tarefa"
                    >
                      <mat-option *ngFor="let sta of status" [value]="sta.id">
                        {{ sta.descricao }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="fill">
                    <input
                      matInput
                      name="data_inicio_dev"
                      [(ngModel)]="tarefa.data_inicio_dev"
                      [matDatepicker]="picker3"
                      placeholder="Data Início Dev"
                      #data_inicio_dev="ngModel"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker3"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="fill">
                    <input
                      matInput
                      name="data_fim_dev"
                      [(ngModel)]="tarefa.data_fim_dev"
                      [matDatepicker]="picker4"
                      placeholder="Data Fim Dev"
                      #data_fim_dev="ngModel"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker4"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field>
                    <input
                      name="tempo_realizado"
                      [(ngModel)]="tarefa.tempo_realizado"
                      matInput
                      placeholder="Tempo realizado (horas)"
                      type="number"
                      #tempo_realizado="ngModel"
                    />
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-checkbox
                    name="authorized"
                    [(ngModel)]="tarefa.authorized"
                  >
                    Autorizado
                  </mat-checkbox>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Prioridade</mat-label>
                    <mat-select
                      name="id_prioridade"
                      required
                      #id_prioridade="ngModel"
                      [(ngModel)]="tarefa.id_prioridade"
                    >
                      <mat-option
                        *ngFor="let prioridade of prioridades"
                        [value]="prioridade.id"
                      >
                        {{ prioridade.descricao }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        id_prioridade.invalid &&
                        (id_prioridade.touched || id_prioridade.dirty)
                      "
                    >
                      <div *ngIf="id_prioridade.errors.required">
                        Campo "Prioridade" é requerido.
                      </div>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field>
                    <input
                      name="complexidade"
                      [(ngModel)]="tarefa.complexidade"
                      matInput
                      required
                      placeholder="Complexidade"
                      type="number"
                      #complexidade="ngModel"
                    />
                    <mat-error
                      *ngIf="
                        complexidade.invalid &&
                        (complexidade.touched || complexidade.dirty)
                      "
                    >
                      <div *ngIf="complexidade.errors.required">
                        Campo "Complexidade" é requerido.
                      </div>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field>
                    <input
                      name="impacto"
                      [(ngModel)]="tarefa.impacto"
                      matInput
                      required
                      placeholder="Impacto"
                      type="number"
                      #impacto="ngModel"
                    />
                    <mat-error
                      *ngIf="
                      impacto.invalid &&
                        (impacto.touched || impacto.dirty)
                      "
                    >
                      <div *ngIf="complexidade.errors.required">
                        Campo "Impacto" é requerido.
                      </div>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Grupo</mat-label>
                    <mat-select
                      name="grupo"
                      #grupo="ngModel"
                      [(ngModel)]="tarefa.id_grupo"
                    >
                      <mat-option
                        *ngFor="let grupo of grupos"
                        [value]="grupo.id"
                      >
                        {{ grupo.descricao }}
                      </mat-option>
                    </mat-select>
                    
                  </mat-form-field>
                </div>
              </div>

              <button
                mat-raised-button
                type="button"
                [routerLink]="['/tarefa-show']"
                class="btn btn-secondary pull-right"
              >
                Voltar
              </button>
              <button
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
              >
                Salvar
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="./assets/img/code.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Ciência da Computação</h6>
            <h4 class="card-title">Acadêmicos:</h4>
            <p class="card-description">André Farias</p>
            <p class="card-description">Kassi Pegoraro</p>
            <a href="javascript:void(0)" class="btn btn-danger btn-round">
              Follow
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
