<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Editar Projeto</h4>
            <!-- <p class="card-category">Complete your profile</p> -->
          </div>
          <div class="card-body">
            <form (submit)="editProjeto()">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field >
                    <input
                      name="titulo"
                      required
                      [(ngModel)]="projeto.titulo"
                      matInput
                      placeholder="Título"
                      type="text"
                      #titulo="ngModel"
                    />
                    <mat-error *ngIf="titulo.invalid && (titulo.touched || titulo.dirty)">
                      <div *ngIf="titulo.errors.required">Campo "Título" é requerido.</div>
                    </mat-error>
                  </mat-form-field>
                </div>
                  <div class="col-md-6">
                    <mat-form-field >
                      <input
                        name="descricao"
                        required
                        [(ngModel)]="projeto.descricao"
                        matInput
                        placeholder="Descrição"
                        type="text"
                        #desc="ngModel"
                      />
                      <mat-error *ngIf="desc.invalid && (desc.touched || desc.dirty)">
                        <div *ngIf="desc.errors.required">Campo "Descrição" é requerido.</div>
                      </mat-error>
                    </mat-form-field>
                  </div>
                
                <div class="col-md-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Sistema</mat-label>
                    <mat-select
                      name="projeto"
                      #proj="ngModel"
                      [(ngModel)]="projeto.id_sistema"
                    >
                      <mat-option
                        *ngFor="let com of sistemas"
                        [value]="com.id_sistema"
                      >
                        {{ com.nome }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

              <div class="col-md-6">
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    name="data_inicio"
                    [(ngModel)]="projeto.data_inicio"
                    [matDatepicker]="picker"
                    placeholder="Data Início"
                    #data_inicio="ngModel"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="fill">
                  <input
                    matInput
                    name="data_fim"
                    [(ngModel)]="projeto.data_fim"
                    [matDatepicker]="picker2"
                    placeholder="Data Fim"
                    #data_fim="ngModel"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker2"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
            
              </div>
              <button
                mat-raised-button
                type="button"
                [routerLink]="['/projeto-show']"
                class="btn btn-secondary pull-right"
              >
                Voltar
              </button>
              <button
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
              >
                Salvar
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="./assets/img/code.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Ciência da Computação</h6>
            <h4 class="card-title">Acadêmicos:</h4>
            <p class="card-description">
              André Farias
            </p>
            <p class="card-description">
                Kassi Pegoraro
            </p>
            <a href="javascript:void(0)" class="btn btn-danger btn-round">
              Follow
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
