<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Novo Grupo</h4>
            <!-- <p class="card-category">Complete your profile</p> -->
          </div>
          <div class="card-body">
            <form (submit)="postGrupo()">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field >
                    <input
                      name="descricao"
                      required
                      [(ngModel)]="grupo.descricao"
                      matInput
                      placeholder="Descrição"
                      type="text"
                      #desc="ngModel"
                    />
                    <mat-error *ngIf="desc.invalid && (desc.touched || desc.dirty)">
                      <div *ngIf="desc.errors.required">Campo "Descrição" é requerido.</div>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Projeto</mat-label>
                    <mat-select
                      name="projeto"
                      #proj="ngModel"
                      [(ngModel)]="grupo.id_projeto"
                    >
                      <mat-option
                        *ngFor="let com of projetos"
                        [value]="com.id"
                      >
                        {{ com.titulo }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <button
                mat-raised-button
                type="button"
                [routerLink]="['/grupo-show']"
                class="btn btn-secondary pull-right"
              >
                Voltar
              </button>
              <button
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
              >
                Salvar
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="./assets/img/code.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Ciência da Computação</h6>
            <h4 class="card-title">Acadêmicos:</h4>
            <p class="card-description">
              André Farias
            </p>
            <p class="card-description">
                Kassi Pegoraro
            </p>
            <a href="javascript:void(0)" class="btn btn-danger btn-round">
              Follow
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
