<div id="banner">
  <div class="row" style="opacity: 1; z-index: 1000;">
      <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto" >
          <form class="form ng-untouched ng-pristine ng-valid" >
              <div class="alert alert-danger" role="alert" style="background-color:#FA5858; z-index: 1; " *ngIf="invalid==true" >
                  <strong>Erro! </strong>As credenciais são inválidas.
              </div>
              <div class="card card-login" style="z-index: 1; opacity:1">
                  <div class="card-header card-header-primary text-center">
                      <span><strong>- Sistema Web -</strong></span>
                      <!-- <h4 class="card-title">Sistema Sitec</h4> -->
                      <h4 class="card-title">Log in</h4>
                  </div>
                  <div class="card-body ">
                      <p class="card-description text-center"></p><span class="bmd-form-group">
                          <div class="input-group">
                              <div class="input-group-prepend"><span class="input-group-text"><i class="material-icons">face</i></span>
                              </div>
                              <input class="form-control" id="login" name="login" placeholder="Id..." type="text" [(ngModel)]="credentials.id">
                          </div>
                      </span><span class="bmd-form-group">
                          <!-- <div class="input-group"> 
                              <div class="input-group-prepend"><span class="input-group-text"><i class="material-icons">lock_outline</i></span></div>
                              <input class="form-control" (keyup.enter)="meclicou()" id="password" name="password" [(ngModel)]="credentials.password" placeholder="Senha..." type="password">
                          
                          </div> -->
                          
                      </span>
                  </div>
                  <div class="card-footer justify-content-center">
                      <a class="btn btn-rose btn-link btn-lg" (click)="login()">Lets Go!</a>
                  </div>
              </div>
          </form>
          <div class="card-body justify-content-center" *ngIf="spinner_==true">
              <mat-card-content>
                  <mat-progress-spinner 
                      class="example-margin"
                      [color]="'primary'"
                      [mode]="'indeterminate'">
                  </mat-progress-spinner>
              </mat-card-content>
              <br>
              <label style="text-align: center;">Carregando...</label>
          </div>
      </div>
  </div>
  </div>