<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  {{data.message}}
</div>
<div style="float:right;margin:20px;">
  <!-- <input matInput style="margin:0px 10px;" type="button" value="Confirm" [mat-dialog-close]="true"> -->
  <button
    mat-raised-button
    type="button"
    matInput 
    type="button" 
    value="Cancel"  
    [mat-dialog-close]="false"
    class="btn btn-secondary pull-right"
  >
    Cancelar
  </button>
  <button
    mat-raised-button
    type="button"
    matInput 
    style="margin:0px 10px;" 
    value="Confirm" 
    [mat-dialog-close]="true"
    class="btn btn-primary pull-right"
  >
    Confirmar
  </button>
</div>
